/*header*/
.bar-light {
  -webkit-box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.075) !important;
  -moz-box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.075) !important;
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.075) !important;

}

.bar .buttons .back-text {
  display: none;
}

.title-image {
  height: 35px;
  padding-top: 3px;
}

.bar-light .button.button-clear:before {
  font-size: 14px;
  color: $gray;
}

.bar .button.button-icon:before {

}

.bar-light .button.back-button .icon:before {
  font-size: 22px;
}

.bar-light .button.button-clear.ion-navicon-round:before {
  font-size: 24px;
  color: $gray;
}

.icon-loc-chat {
  width: 28px;
  height: 34px;
  background: url("../img/chat-icon.png") no-repeat center !important;
  background-size: 100% auto !important;
}

.bar .buttons-right {
  position: relative;
  .quantity {
    position: absolute;
    top: 1px;
    left: 20px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: #ff3b30;
    z-index: 10;
    font-size: 12px;
    font-weight: bold;
  }
  span {
    margin-right: 10px;
  }
}

.bar .buttons-left span {
  margin-left: 5px;
}

.has-bottom-fixed {
  position: relative;
  &.splash-page {
    padding-bottom: 100px;
    min-height: calc(100vh - 54px);
    min-height: -moz-calc(100vh - 54px);
  }
}

.platform-ios {
  .has-bottom-fixed {
    &.splash-page {
      min-height: calc(100vh - 44px);
      min-height: -moz-calc(100vh - 44px);
    }
  }

  .has-header .has-bottom-fixed{
    min-height: calc(100vh - 64px);
    min-height: -moz-calc(100vh - 64px);
  }
}

.bottom-fixed {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 15px 10px;
  .button.button-block, .button.button-full {
    margin-bottom: 10px;
  }
}

.bar-footer {
  padding-left: 0;
  padding-right: 0;
}

/*slider*/
.slider-pager {
  bottom: 10px;
  .slider-pager-page {
    font-size: 10px;
    color: $lightGray;
    opacity: 1 !important;
    width: 12px;
    &.active {
      color: $gray;
    }
  }
}

/*template*/
.padding-normal {
  padding: 22px 15px;
}

/*.pane, .view {
  background: #f0f3f5;
}*/

/*text*/
.text-positive {
  color: $positiveColor;
}

.text-underline {
  text-decoration: underline;
}

.simple-text {
  color: $darkGray;
  opacity: 0.9;
  margin-bottom: 12px;
}

/*form*/
.button {
  font-family: Lato;
  &.button-positive {
    background-color: $positiveColor;
    border-color: $positiveColor;
    &.activated {
      background-color: $positiveColor;
      border-color: $positiveColor;
      opacity: 0.7;
    }
  }
  &.button-block, &.button-full {
    margin-bottom: 20px;
  }
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #595c61;
}

::-moz-placeholder { /* Firefox 19+ */
  color: #595c61;
}

:-ms-input-placeholder { /* IE 10+ */
  color: #595c61;
}

:-moz-placeholder { /* Firefox 18- */
  color: #595c61;
}

.list-form {
  margin-bottom: 20px;
  .item {
    margin-bottom: 10px;
    border: none;
    @include border-radius(3px);
    background: #f9f9f9;
    input {
      font-size: 15px;
      font-weight: 300;
    }
  }
  .item-input .icon {
    min-width: 25px;
    text-align: center;
    font-size: 23px;
    &.fa {
      font-size: 19px;
    }
  }
}

.sidebar-wrapper {
  .list-menu {
    .list {
      position: relative;
      min-height: 500px;
      .item {
        font-weight: 500;
        color: $darkGray;
        font-size: 20px;
        padding-left: 50px;
        border-color: transparent !important;
        .item-content {
          padding-left: 0;
        }
      }
      .sign-out {
        position: absolute;
        bottom: 20px;
        width: 100%;
        left: 0;
        padding: 10px 15px 10px 50px;
        font-family: Lato, sans-serif;
        font-size: 14px;
        color: $gray;
      }

    }
  }
}

.menu-content {
  .bar-light {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}

.item.active, .item.activated, .item-complex.active .item-content, .item-complex.activated .item-content, .item .item-content.active, .item .item-content.activated {
  background: transparent;
  color: $positiveColor;
}

.menu .bar-header {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.text-assertive {
  color: #ff3b30;
}

.list-faqs {
  .card {
    margin: 10px;
    .item-light {
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      color: $darkGray;
      font-weight: bold;
      &.active, &.activated {
        background: #ffffff;
        border-color: transparent;
        color: $darkGray;
      }
      .icon {
        font-size: 14px;
        color: $positiveColor;
      }
    }
    .item-accordion {
      border: none;
      font-weight: normal;
      color: $darkGray;
      font-size: 14px;
      opacity: 0.8;
    }
  }
}

.list .item.item-accordion {
  line-height: 1.5em;
  padding-top: 0;
  padding-bottom: 15px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.list .item.item-accordion.ng-hide {
  line-height: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.item-date-time {
  line-height: 34px;
  color: #111;
  .icon {
    padding-left: 0;
  }
  .placeholder {
    color: #c0c0c0;
    font-weight: 300;
    opacity: 1;
  }
}

.loading-container .loading {
  width: 85px;
  height: 85px;
  background: $positiveColor;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  .spinner-ios, .spinner-ios-small {
    display: none;
  }
  &:after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    border: 4px solid rgba(255, 255, 255, 0.5); /* Light grey */
    border-top: 4px solid transparent; /* Blue */
    border-radius: 50%;
    width: 75px;
    height: 75px;
    animation: spin 2s linear infinite;
  }
  &:before {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    width: 65px;
    height: 65px;
    background: url("../img/logo_white.png") no-repeat center;
    background-size: 40px auto;

  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.group-radios {
  .button-radio {
    position: relative;
    display: inline-block;
    text-align: center;
    label {
      padding: 2px 4px 1px;
      min-height: 30px;
      font-size: 12px;
      line-height: 26px;
      color: #ffffff;
      background: #444444;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      display: block;
      min-width: 100px;
    }
    input {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      &:checked {
        & + label {
          background: $positiveColor;
        }
      }
    }
    &.button-outline {
      label {
        background: transparent;
        color: $positiveColor;
        border: 1px solid $positiveColor;
        padding-top: 12px;
        padding-bottom: 11px;
        font-size: 18px;
        text-transform: none;
      }
      input {
        &:checked {
          & + label {
            background: $positiveColor;
            color: #ffffff;
          }
        }
      }
    }
    &.button-sm {
      label {
        line-height: 13px;
        font-size: 12px;
      }
    }
  }

}
.group-radios .button-radio.button-outline.active label{
  background: #11ace2;
  color: #ffffff;
}
/*google search*/

.copyright {
  padding: 20px;
}

.list-search-result {
  .item {
    .item-title {
      font-weight: bold;
      color: $darkGray;
      font-size: 15px;
      line-height: 21px;
      height: 21px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .item-link {
      color: $positiveColor;
      font-size: 13px;
    }
    .item-description {
      font-size: 12px;
      white-space: normal;
    }
  }
}

.take-photo {
  border: 1px solid #cccccc;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 30px 20px;
  color: $darkGray;
  margin-bottom: 20px;
  i {
    font-size: 80px;
    line-height: 1;
    margin-bottom: 15px;
  }
}

.mg-bottom-50 {
  margin-bottom: 50px;
}

.customize-content-box {
  padding: 30px 20px;
  .lg-text {
    font-size: 30px;
    font-weight: 300;
    line-height: 1.17;
    color: #46494f;
    margin-bottom: 20px;
  }
  .sm-text {
    font-size: 15px;
    color: #4e4e4e;
    margin-bottom: 20px;
  }
  .success-icon {
    margin-bottom: 40px;
  }
  .group-radios {
    .button-radio {
      width: 100%;
    }
  }
  .bottom-fixed {
    min-height: 0 !important;
  }
  .photo-area {
    margin: 20px 15px;
    height: calc(100vw - 70px);
    height: -moz-calc(100vw - 70px);
    line-height: calc(100vw - 70px);
    min-height: 300px;

    position: relative;
    .main-area{
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-color: #B7BFCD;
    }
    .leaf {
      position: absolute;
      background: rgba(75, 94, 129, 1);
      width: 80px;
      height: 80px;
      z-index: -1;
      &.leaf-top-left {
        top: -1px;
        left: -1px;
      }
      &.leaf-top-right {
        top: -1px;
        right: -1px;
      }
      &.leaf-bottom-right {
        bottom: -1px;
        right: -1px;
      }
      &.leaf-bottom-left {
        bottom: -1px;
        left: -1px;
      }
    }
    img {
      max-width: 100%;
      max-height: 100%;
      @include centerer;
      width: auto;
      z-index: 1000;
    }
  }
  .photo-button {
    padding: 10px;
    background: #1fafe2;
    border-radius: 50%;
    max-width: 64px;
    margin-left:auto;
    margin-right: auto;
    i {
      height: 44px;
      width: 44px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      text-align: center;
      line-height: 44px;
      font-size: 28px;
      color: #ffffff;
      background: #4BBFE7;
      display: block;
    }
  }
  form {
    .button {
      margin-bottom: 20px;
    }
  }
}

.list-input {
  margin-bottom: 40px;
}

.item-underline {
  border: none;
  border-bottom: 1px solid rgba(89, 92, 97, 0.3);
  padding: 10px 0;
  margin-bottom: 10px;
  line-height: 30px;
  i {
    font-size: 24px;
    margin-right: 12px;
    width: 20px;
  }
}

.process-bar {
  position: absolute;
  top: 0;
  z-index: 1000;
  width: 100%;
  left: 0;
  height: 5px;
  display: -webkit-flex; /* Safari */
  display: flex;
  div {
    -webkit-flex: 1; /* Safari 6.1+ */
    -ms-flex: 1; /* IE 10 */
    flex: 1;
    &.active {
      background: $positiveColor;
    }
  }
}

.card-box{
  padding: 20px;
  font-size: 15px;
  .lg-text{
    font-size: 30px;
    font-weight: 300;
    line-height: 1.17;
    margin-bottom: 20px;
  }
  &.card-box-positive{
    background: $positiveColor;
    color: #ffffff;
  }
  &.card-box-stable{
    background: #f3f7fa;
  }
}
