/*begin*/

.splash-page{
  background: #ffffff;
  .item-slider{
    height: calc(100vh - 44px - 140px);
    height: -moz-calc(100vh - 44px - 140px);
  }
  .bottom-fixed{
    z-index: 10;
    .lg-text{
      padding: 0 11px;
      margin-bottom: 30px;
    }
  }
  .image-background{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .wrapper-content{
    position: absolute;
    bottom: 0;
    padding-bottom: 25px;
    left: 0;
    width: 100%;
    z-index: 3;
  }
  .lg-text{
    font-family: Roboto, sans-serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 1.17;
    text-align: left;
    color: #46494f;
    padding: 0 40px;
    margin-bottom: 10px;
  }
  .sm-text{
    font-family: Roboto, sans-serif;
    font-size: 15px;
    color: #4e4e4e;
    padding: 0 40px;
  }
}

.introduction__slider{
  min-height: 200px;
  padding-bottom: 30px;
}

/*created acc*/
.welcome-box{
  background: #ffffff;
  padding: 30px 15px 80px;
  margin: 0 15px 0;
  min-height: calc(100vh - 64px);
  min-height: -moz-calc(100vh - 64px);
  position: relative;
  .box__title{
    font-weight: bold;
    color: $darkGray;
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
  }
  .box__content{
    max-width: 215px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 300;
    p{
      margin-bottom: 10px;
    }
    ul{
      line-height: 30px;
      li>i{
        margin-right: 10px;
      }
    }
  }
  .box__footer{
    position: absolute;
    bottom: 5px;
    left: 5px;
    right: 5px;
    table{
      width: 100%;
      tr td{
        padding: 8px;
        width: 50%;
        .button{
          margin-bottom: 0 !important;
          white-space: nowrap;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    }
  }
}

.forgot-password-page{
  .simple-text{
    font-size: 16px;
    opacity: 1;
  }
}
/*medication*/

.list-medications{
  padding: 10px 15px;
  .item-medication{
    margin-bottom: 10px;
    border-radius: 5px;
    display: table;
    width: 100%;
    table-layout: fixed;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.3);
    background: #ffffff;
    .item-photo, .item-information, .item-actions{
      display: table-cell;
      vertical-align: middle;
      padding: 10px 0;
    }
    .item-information{
      padding-left: 0;
      padding-right: 0;
      font-size: 14px;
      line-height: 1.4;
      width: calc(100vw - 30px - 90px - 100px);
      width: -moz-calc(100vw - 30px - 90px - 100px);

      .name{
        font-weight: bold;
        font-size: 16px;
        color: #6e7477;
      }
    }
    .item-photo{
      width: 90px;
      .photo{
        width: 70px;
        height: 53px;
        overflow: hidden;
        margin: 0 auto;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .item-actions{
      width: 100px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

/*delivery*/

.delivery-map{
  border-radius: 5px;
  margin: 0 15px 5px;
  table-layout: fixed;
  padding: 12px;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.3);
  background: #ffffff;
  .chart{
    margin-top: 10px;
    margin-bottom: 20px;
    height: 10px;
    border: 1px solid #c2c2c2;
    border-radius: 10px;
    position: relative;
    .corner{
      position: absolute;
      top: 0;
      left: 0;
      background: $positiveColor;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      height: 100%;
      border:1px solid $positiveColor;
    }
    &.level1{
      .corner{
        width: 10px;
      }
    }
    &.level2{
      .corner{
        width: 50%;
      }
    }
    &.level3{
      .corner{
        width: 100%;
      }
    }
  }
  .title{
    span{
      display: flex;
    }
  }
}

/*chat box*/
.list-messages{
  padding: 10px;
}

.item-message{
  @extend %clearfix;
  margin-bottom: 10px;
  .avatar{
    margin-top: 20px;
    width: 50px;
    height: 50px;
    @include border-radius(50%);
    overflow: hidden;
    border:1px solid $positiveColor;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .message{
    max-width: calc(100vw - 120px);
    .created-time{
      text-align: center;
      font-size: 10px;
      color: $gray;
      margin-bottom: 3px;
    }
    .content{
      padding: 10px;
      @include border-radius(3px);
      background: #ffffff;
      color: $darkGray;
    }
  }
  &.partner{
    .avatar, .message{
      float: left;
    }
    .avatar{
      margin-right: 10px;
    }
  }
  &.owner{
    .avatar, .message{
      float: right;
    }
    .avatar{
      margin-left: 10px;
    }
  }
}
.bar-footer form{
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
}
.wrapper-input-chat{
  width: 100%;
  tr td{
    &:first-child, &:last-child, &:nth-child(2){
      width: 20px;
      text-align: center;
      color: $gray;
      /*vertical-align: middle;*/
      button{
        color: $gray;
        padding: 0 5px;
      }
    }
    position: relative;
    vertical-align: top;
  }
  .input-message{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -8px;
    textarea{
      width: 100%;
      max-height: 180px;
      padding-left: 5px;
    }
  }
}

//google autocomplete
.auto-cpl {
  position: relative;
  border-radius: 10px;
  margin-bottom: 10px;

 input {
    width: 100%;
    padding-left: 10px;
  }

 .auto-cpl-result {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fafafa ;
    box-shadow: 0 0 5px #d9d9d9 ;
    z-index: 100;

   li {
      padding: 8px 12px;
      border-bottom: 1px solid #d9d9d9 ;
    }
  }

 .auto-select {
    height: 230px;
  }

 .auto-btn {
    position: absolute;
    top: 21%;
    left: 93%;
    border: none;
    background: none;
  }

 .auto-cpl-btn {
    position: absolute;
    z-index: 101;
    border: none;
    background: none;
    top: 24%;
    left: 91%;
  }

 .auto-scroll {
    max-height: 240px;
    box-shadow: 0px 3px 5px 0px #b1aeae !important;
  }

 .auto-result-scroll {
    position: absolute;
    width: 100%;
    z-index: 1;
    margin-top: -15px;
  }
}

.auto-cpl-result-select {
  position: initial !important;
  background: #ffffff !important;
  overflow: hidden;

 li {
    white-space: normal;
    word-break: break-all;
    text-overflow: inherit;
    height: auto;
    line-height: 1.5em;
    padding: 5px 12px;
    border-bottom: none !important;
    font-size: 14px;
  }
}

.auto-cpl-tags {
  cursor: pointer;
  font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);

 .auto-cpl-tags-item {
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    max-height: 290px;
    overflow: hidden;

   li {
      padding: 5.6px 10px;
      border-bottom: none;
    }
  }
}
