<ion-view view-title='<img class="title-image" src="./img/LH-logo-full.png"/>' class="blue-bgr" hide-nav-bar="false" animation="slide-left-right">
<ion-content has-bouncing="false">
  <div class="process-bar">
    <div class="active"></div>
    <div></div>
    <div></div>
  </div>
  <div class="has-bottom-fixed customize-content-box">
    <div class="lg-text">
      Do you have the<br> medication with you?
    </div>
    <div class="group-radios text-center row">
      <div class="col">
        <div class="button-radio button-outline">
          <input type="radio" name="status" id="has-medication" ng-model="takePhoto" value="1" ui-sref="app.takePhotoMedication">
          <label for="has-medication" class="text-uppercase">Yes</label>
        </div>
      </div>
      <div class="col">
        <div class="button-radio button-outline">
          <input type="radio" name="status" id="no-medication" ng-model="takePhoto" value="0" ui-sref="app.transferPrescription">
          <label for="no-medication" class="text-uppercase">No</label>
        </div>
      </div>
    </div>
    <div class="bottom-fixed">
      <div class="simple-text text-center">
        Already have an account? <a ui-sref="core.Login" class="text-positive text-underline">Sign In</a>
      </div>
    </div>
  </div>
</ion-content>
</ion-view>
