<ion-view view-title='Chat' hide-nav-bar="false" class="logo-show" ng-controller="ChatBoxCtrl as vm">
  <ion-content overflow-scroll="false" has-bouncing="false">
    <div class="wrapper chat-box">
      <div class="show-old text-center text-positive"><a ng-click="vm.showOldMess()" ng-show="totalPage > 1">Show old message</a></div>
      <div class="list-messages" >
        <div class="item-message" ng-repeat="history in histories.slice().reverse()" ng-class="history.sender_type==2?'owner':'partner'">
          <div class="avatar">
            <img src="./img/avatar-default.png" alt="">
          </div>
          <div class="message">
            <div class="created-time">
              {{history.send_time|timeAgo}}
            </div>
            <div class="content">
              <div class="mess-text" ng-if="history.message_type ==1" ng-bind-html="history.message"></div>
              <div class="mess-img" ng-if="history.message_type ==2"><img src="{{history.message}}"> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar class="bar bar-footer bar-light" keyboard-attach>
    <!-- <form ng-submit="vm.sendMessage(vm.inputChat)"> -->
      <table class="wrapper-input-chat">
        <tr>
          <td>
            <div class="actions-chat" ng-click="vm.showCam(1)">
              <button class="button button-icon">
                <i class="fa fa-camera"></i>
              </button>
            </div>
          </td>
          <td>
            <div class="actions-chat" ng-click="vm.showCam(0)">
              <button class="button button-icon">
                <i class="fa fa-photo"></i>
              </button>
            </div>
          </td>
          <td>
            <textarea placeholder="Secure Messaging" class="text-resize input-message" ng-model="vm.inputChat" autofocus></textarea>
          </td>
          <td>
            <div class="send">
              <button class="button button-icon icon ion-ios-paperplane" ng-click="vm.sendMessage(vm.inputChat)" type=""></button>
            </div>
          </td>
        </tr>
      </table>
    <!-- </form> -->
  </ion-footer-bar>

</ion-view>
