<ion-view view-title='Add Allergies' hide-nav-bar="false" ng-controller="AllergiesCtrl as vm">
  <ion-content>
    <!-- <form class="wrapper padding-normal setting-form" name="signUpForm"> -->
      <div class="text-center">
        <p class="padding-normal">
          Do you have any <strong>Allergies</strong>?
        </p>
      </div>
      <div class="list-form">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Allergies</span>
          <input type="text" placeholder="Allergies" ng-model="vm.allergies">
        </label>
      </div>
      <button type="" class="button button-block button-positive" ng-click="vm.registration()">Finish</button>
    <!-- </form> -->
  </ion-content>
</ion-view>
