<ion-view view-title='Insurance' ng-controller="InsuranceCtrl as vm">
  <ion-content>
    <form class="wrapper padding-normal setting-form has-bottom-fixed" name="signUpForm">
      <div class="take-photo text-center">
        <i class="ion-ios-camera-outline" ng-click="vm.takePhoto()"></i>
        <p>Take a picture of your <br> insurance card</p>
      </div>
      <div>
        <p class="text-center positive-text positive" ui-sref="core.InsuranceInformation">or enter information manually</p>
      </div>

      <div class="bottom-fixed">
        <a href="" class="button button-block button-positive" ui-sref="core.Payment" ng-click="skipFunc=true">I Don't Have Insurance</a>
      </div>

      <!-- <div class="simple-text text-center">
        Need help? <a href="#" class="text-positive text-underline">Chat with us!</a>
      </div> -->
    </form>
  </ion-content>
</ion-view>
