<ion-view view-title='Add Personal Info' hide-nav-bar="false" ng-controller="SignupCtrl as vm">
  <ion-content>

    <!-- <form class="wrapper padding-normal setting-form" name="signUpForm" ng-submit="vm.signup(signUpForm.$valid)" novalidate> -->
        <div class="wrapper padding-normal setting-form">
          <div class="list-form">
            <label class="item item-input">
              <i class="icon fa fa-circle-thin placeholder-icon"></i>
              <input type="text" ng-model="vm.info.first_name" required placeholder="First Name">
            </label>
            <label class="item item-input">
              <i class="icon fa fa-circle-thin placeholder-icon"></i>
              <input type="text" ng-model="vm.info.last_name" required placeholder="Last Name">
            </label>
            <label class="item item-input">
              <i class="icon fa fa-circle-thin placeholder-icon"></i>
              <input type="email" ng-model="vm.info.email" required placeholder="Email">
            </label>
            <label class="item item-input">
              <i class="icon fa fa-circle-thin placeholder-icon"></i>
              <input type="password" ng-model="vm.info.password" required placeholder="Password">
            </label>
            <label class="item item-input">
              <i class="icon fa fa-circle-thin placeholder-icon"></i>
              <input type="password" ng-model="vm.info.confirm_password" required placeholder="Confirm Password">
            </label>
            <label class="item item-input">
              <i class="icon fa fa-circle-thin placeholder-icon"></i>
              <input type="number" ng-model="vm.info.phone" required placeholder="Phone">
            </label>

            <label class="item item-input item-date-time" ion-datetime-picker only-valid="{'before': vm.today}" date ng-model="vm.info.dob">
              <i class="icon fa fa-circle-thin placeholder-icon"></i>
              {{vm.info.dob| date: "yyyy-MM-dd"}}
              <span class="placeholder" ng-if="!vm.info.dob">Date of Birth</span>
            </label>
            <label class="item item-input">
              <i class="icon ion-ios-location placeholder-icon"></i>
              <input type="number" ng-model="vm.info.zipcode" required placeholder="ZIP Code">
            </label>
          </div>
          <div>
            <p class="text-center">Do you have a promo code?</p>
          </div>
          <!-- <a href="" class="text-positive text-underline">Sign In</a> -->

          <a type="" class="button button-block button-positive" ng-click="vm.signup()">Next</a>
          <div class="simple-text text-center">
            Already have an account? <a ui-sref="core.Login" class="text-positive text-underline">Sign In</a>
          </div>
        </div>
      <!-- <div ng-click="test()">
          Test
      </div> -->

      <!-- <div class="simple-text text-center">
        Need help? <a href="#" class="text-positive text-underline">Chat with us!</a>
      </div> -->
    <!-- </form> -->
  </ion-content>
</ion-view>
