<ion-view view-title='Patient Profile' hide-nav-bar="false" ng-controller="ProfileCtrl as vm">
  <ion-content class="has-header">
    <div class="list-form wrapper padding-normal">
      <div class="item item-input">
        <!-- <i class="icon fa fa-circle-thin placeholder-icon"></i> -->
        <span class="input-label">{{vm.name}}</span>
        <!-- <input type="email" ng-model="vm.email" autocomplete="off" placeholder="Email" required> -->
      </div>
      <div class="item item-input">
        <span class="input-label">Personal </span>
        <span class="input-label">{{vm.personal}}</span>
        <!-- <i class="icon fa fa-chevron-right placeholder-icon"></i> -->
        <!-- <input type="password" ng-model="vm.password" autocomplete="off" placeholder="Password" required> -->
      </div>
      <label class="item item-input">
        <span class="input-label">Addresses </span>
        <span class="input-label">{{vm.addresses}}</span>
        <!-- <i class="icon fa fa-chevron-right placeholder-icon"></i> -->
        <!-- <input type="password" ng-model="vm.password" autocomplete="off" placeholder="Password" required> -->
      </label>
      <label class="item item-input">
        <span class="input-label">Insurance </span>
        <span class="input-label">{{vm.insurance}}</span>
        <!-- <button class="icon fa fa-chevron-right placeholder-icon" ui-sref="core.Insurance"></button> -->
        <!-- <input type="password" ng-model="vm.password" autocomplete="off" placeholder="Password" required> -->
      </label>
      <label class="item item-input">
        <span class="input-label">Credit Card </span>
        <span class="input-label">{{vm.creditCard}}</span>
        <!-- <button class="icon fa fa-chevron-right placeholder-icon" ui-sref="core.Payment"></button> -->
        <!-- <input type="password" ng-model="vm.password" autocomplete="off" placeholder="Password" required> -->
      </label>
    </div>
  </ion-content>
</ion-view>
