div.google-visualization-tooltip {
    background-color: #00a651 !important;
}

div.google-visualization-tooltip > ul > li > span {
    color: white !important;
}

ul._txn {
  list-style: none;
  padding: 5px;
}

ul._txn >li:first-child{
  font-weight: bold !important;
}

ul._txn li{
  color: white;
  font-size: 14px;
  text-align: left  !important;
}
