@media all and (max-width:1199px) {

    .create-contest-txt br {
        display: none;
    }

    /*Kalpesh Start*/
    li.trad-width-one {width: 71.041%;}
    li.trad-width-two {width: 14.525%;}
    li.trad-width-three {width: 14.434%;}
    .trad-width-three img{right:6px;}
    /*Kalpesh end*/

}

@media all and (max-width:991px) {

    /*Kalpesh Start*/
    li.trad-width-one {width: 67.041%;}
    li.trad-width-two {width: 16.525%;}
    li.trad-width-three {width: 16.434%;}
    .trade-inspector{margin-bottom: 15px;}
    .league-perform {font-size: 16px;margin-bottom: 5px;}
    /*Kalpesh end*/

}

@media all and (max-width:767px) {

    .header-top,
    .header-wrapper.after-login-header .header-top {
        padding: 11px 0 12px;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 10;
    }

    .afl-graph-greenbar > span {
        width: 194px;
    }

    .desktop-logo {
        display: none;
    }

    .mobile-logo {
        display: block;
        margin-left: auto;
    }

    .offcenvas-menu {
        position: fixed;
        display: block;
        left: 15px;
        top: 13px;
        z-index: 100;
        text-align: center;
        line-height: 40px;
    }

    .header-wrapper.after-login-header .offcenvas-menu {
        position: fixed;
        top: 12px;
    }

    .offcenvas-menu > a {
        width: 20px;
        height: 16px;
        background: url('/assets/images/mobile-menu-icon.png') no-repeat;
        display: inline-block;
    }

    .offcenvas-menu.open > a {
        background: url('../images/icon-close.png') no-repeat;
    }

    .main-menu {
        padding: 65px 20px 0 19px;
        position: fixed;
        height: 100%;
        max-height: 100%;
        background-color: #35424a;
        z-index: 10;
        top: 0;
        width: 250px;
        left: 0;
        transform: translateX(-400px);
        -webkit-transform: translateX(-400px);
        -moz-transform: translateX(-400px);
        transition-duration: 0.4s;
        -webkit-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
        transition-delay: 0.2s;
        -webkit-transition-delay: 0.2s;
        -moz-transition-delay: 0.2s;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    }

    .main-menu ul li {
        display: block;
        margin-right: 0;
        padding: 10px;
        border-top: 1px #3b4952 solid;
    }

    .main-menu.slide-left {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
    }

    .header-bottom .back-btn {
        display: none;
    }

    .header-bottom {
        background: #8ec63f;
        padding: 27px 0;
        margin-top: 60px;
    }

    .header-bottom.setting-icon {
        padding: 24px 0;
    }

    .header-bottom.show-btn-xs .back-btn {
        display: block;
    }

    .header-bottom.show-btn-xs {
        padding: 14px 0;
    }

    .header-bottom.show-btn-xs h2 {
        float: left;
        width: 60%;
        margin-top: 5px;
    }

    .header-bottom.trans-header-btm h2 {
        margin-top: 13px;
    }

    .header-bottom.setting-icon h2 {
        display: inline-block;
        width: 70%;
        padding-right: 10px;
    }

    .header-bottom.setting-icon .header-bottom-setting {
        margin-top: 0;
    }

    .header-bottom h2 {
        float: none;
        font-size: 18px;
    }

    .login-section {
        padding: 50px 15px;
    }

    .form-group.checkbox-cus {
        margin: 44px 0 61px;
    }

    .register-acc, .forgot-pwd {
        font-size: 16px;
    }

    .footer-social,
    .footer-logo {
        text-align: center;
    }

    .footer-logo img {
        margin: 0 auto;
    }

    .footer-links {
        margin: 15px 0;
        float: left;
        width: 100%;
    }

    .login-title {
        margin-top: 5px;
    }

    .header-wrapper.after-login-header .header-top .login-title {
        margin-top: 3px;
    }

    .login-title h1 {
        font-size: 20px;
    }

    .registration-section {
        padding: 20px 15px 50px;
    }

    .registration-row {
        margin-bottom: 0;
    }

    .registration-section .form-control {
        margin-bottom: 15px;
    }

    .form-date-block {
        margin-top: 54px;
    }

    .form-date-block .form-control.dd-date,
    .form-date-block .form-control.dd-month {
        width: 31%;
        margin-right: 2%;
        font-size: 14px;
    }

    .form-date-block .form-control.dd-year {
        width: 34%;
        font-size: 14px;
    }

    .form-terms-condition .form-group.checkbox-cus {
        margin: 0 0 30px;
        width: 100%;
        float: none;
        padding-right: 0;
    }

    .form-terms-condition .form-btn {
        margin: 0;
        float: none;
        width: 100%;
    }

    .already-have-acc {
        text-align: center;
        color: #72757c;
        font-size: 16px;
    }

    .login-twitter {
        margin-top: 20px;
    }

    .form-terms-condition {
        margin-bottom: 30px;
    }

    .social-login {
        margin-bottom: 40px;
    }

    .form-date-block span {
        top: -30px;
    }

    .form-terms-condition .form-group.checkbox-cus label br {
        display: none;
    }

    .registration-row.mb-50 {
        margin-bottom: 10px;
    }

    .header-wrapper.after-login-header .main-menu {
        width: 256px;
        padding: 16px 25px 0 20px;
    }

    .desktop-menu-header > a.close-menu{
        line-height: normal;
        margin-top: 0;
        width: 22px;
        height: 22px;
    }

    .desktop-menu-header > a.logout {
        padding: 0;
    }

    .header-wrapper.after-login-header .main-menu ul li {
        padding: 0;
    }

    .desktop-menu-header {
        padding-bottom: 22px;
    }

    .join-process-block > a span {
        margin-top: 20px;
        font-size: 14px;
    }

    .confirm-order-btn a {
        min-width: 134px;
    }
    .join-process-block img {
        max-height: 44px;
    }

    .join-process-block {
        padding: 20px 15px;
        min-height: 150px;
        margin: 20px 0;
    }

    .myaccount-section {
        padding: 30px 0 15px;
    }

    .myaccount-text {
        margin-bottom: 10px;
    }

    .how-to-play-video2 {
        margin-left: 0;
        margin-right: 0;
        box-shadow: 0px 3px 30px rgba(0,0,0,0.2);
        -webkit-box-shadow: 0px 3px 30px rgba(0,0,0,0.2);
        -moz-box-shadow: 0px 3px 30px rgba(0,0,0,0.2);
    }

    .how-to-play-video2.mobile-video {
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
    }

    .how-to-play-video2.mobile-video a {
        display: block;
        box-shadow: 0px 3px 30px rgba(0,0,0,0.2);
        -webkit-box-shadow: 0px 3px 30px rgba(0,0,0,0.2);
        -moz-box-shadow: 0px 3px 30px rgba(0,0,0,0.2);
    }

    .join-process {
        margin-bottom: 15px;
    }

    .hp-banner-text {
        max-width: 100%;
        left: 0;
    }

    .header-wrapper.hp-header .mobile-logo {
        display: none;
    }

    .header-wrapper.hp-header .header-top {
        padding-top: 15px;
        background: #35424a;
        position: fixed;
        width: 100%;
        top: 0;
    }

    .header-wrapper.hp-header .desktop-logo {
        display: block;
    }

    .hp-banner-text h1 {
        font-size: 30px;
        margin-bottom: 30px;
    }

    .hp-banner-text h1 img {
        margin: 30px auto;
        display: block;
    }

    .play-steps p {
        font-size: 16px;
    }

    .clubs-across h2,
    .week-growing h2,
    .sporting-partner h2,
    .how-to-play-inner > h2 {
        font-size: 36px;
        letter-spacing: 3px;
    }

    .sporting-partner h2{
        max-width: 345px;
        margin: 0 auto 40px;
    }

    .clubs-across h2 span {
        font-size: 28px;
    }

    .clubs-across {
        padding: 50px 0;
    }

    .sporting-partner-img a {
        margin: 15px;
    }

    .sporting-partner-img a img {
        max-width: 100%;
    }

    .sporting-partner-img a {
        margin: 10px;
    }

    .sporting-partner-img a img {
        max-width: 70px;
    }

    .hp-banner {
        height: 610px;
        background: #35424a url('../images/hp-banner-img-mobile.jpg') no-repeat 100% 0;
        background-size: cover;
        margin-top: 60px;
    }

    .how-to-play-steps {
        margin-bottom: 10px;
    }

    .how-to-play-section {
        padding: 50px 0 0;
    }

    .how-to-play-inner > h2 {
        margin-bottom: 20px;
    }

    .how-to-play-video {
        margin-bottom: 30px;
    }

    .week-growing-container {
        padding: 40px 0;
        background: #faf9f9;
    }

    .sporting-partner {
        background: #fff;
        padding: 45px 0;
    }

    .week-growing h2 {
        display: none;
    }

    .week-growing-top {
        text-align: center;
    }

    .week-growing-top a {
        font-size: 12px;
        min-width: 135px;
        height: 45px;
        padding: 0 5px;
        margin-right: 5px;
        color: #35424a;
        border: 2px #35424a solid;
    }

    .week-growing-left table tr td.td-league,
    .week-growing-left table tr td.td-team,
    .week-growing-left table tr td.td-growth {
        border: 1px #e1e1e1 solid;
    }

    .week-growing-top a:last-child {
        /*background: transparent;
        color: #00a651;
        border: 2px #00a651 solid;*/
    }

    .week-growing-left table tr td span {
        display: block;
    }

    .week-growing-left table tr.active td {
        background: transparent;
    }

    .week-growing-left table tr.active td.td-team {
        color: #35424a;
    }

    .week-growing-left table tr td.td-league{
        background: #29353c;
    }

    .week-growing-left table tr td.td-growth {
        background: #00a651
    }

    .week-growing-left table tr th {
        color: #35424a;
    }

    .shares-holding-count {
        width: 100%;
        float: none;
        margin-right: 0;
    }

    .transection-inner {
        max-width: 290px;
        margin: 0 auto;
    }

    .shares-holding-group input {
        width: 190px;
    }

    .shares-holding-btn button {
        min-width: 139px;
    }

    .shares-holding-btn {
        float: none;
        padding-top: 20px;
    }

    .selection-text {
        font-size: 12px;
        line-height: 22px;
    }

    .selection-text span {
        font-size: 28px;
    }

    .filter-container {
        padding: 30px 0;
    }

    .header-bottom.align-center h2 {
        text-align: left;
    }

    .preferred-contest > .row {
        margin-left: -5px;
        margin-right: -5px;
    }

    .preferred-contest > .row .col-xs-4 {
        padding: 0 5px;
    }

    .filter-steps {
        margin-bottom: 25px;
        padding-bottom: 25px;
    }

    .filter-steps.step34 {
        padding-bottom: 0;
        border-bottom: none;
        margin-bottom: 14px;
    }

    .filter-steps h2 {
        color: #72757c;
        font-size: 16px;
    }

    .filter-steps h2 span {
        top: 0;
    }

    .filter-type {
        margin-bottom: 25px;
    }

    .accordion-section {
        margin-bottom: 10px;
    }

    a.accordion-section-title {
        font-size: 16px;
    }

    .accordion-discount a {
        float: right;
        min-width: 85px;
        padding: 0 10px;
    }

    a#back-to-top {
        height: 35px;
        line-height: 35px;
        right: 15px;
        bottom: 15px;
        width: 35px;
    }

    .step3 {
        margin-bottom: 40px;
    }

    .social-container {
        padding: 16px 0 0;
    }

    .social-container a {
        width: 30%;
        height: 110px;
        margin-right: 5%;
        padding: 20px 0;
    }

    .social-container a img {
        width: 40px;
    }

    .social-container a span {
        font-size: 16px;
        margin-top: 10px;
    }

    .social-container a p {
        min-height: 42px;
    }

    .create-contest-txt {
        font-size: 18px;
        margin-bottom: 25px;
        padding-bottom: 20px;
        color: #72757c;
    }

    .create-contest-txt br {
        display: none;
    }

    .return-to-folio a {
        min-width: 290px;
    }

    .afl-weekly-table {
        padding: 30px 0 32px;
    }

    .afl-weekly-table-inner {
        margin-bottom: 22px;
    }

    .afl-weekly-table-inner.your-position {
        margin-bottom: 29px;
    }

    .confirm-order-btn a {
        min-width: 134px;
    }

    .save-setting-btn button {
        min-width: 290px;
    }

    .save-setting-top .form-group {
        margin-bottom: 22px;
    }

    .save-setting-top .form-group label,
    .save-setting-bottom h2 {
        margin-bottom: 15px;
    }

    .save-setting-top {
        padding-bottom: 0;
        margin-bottom: 18px;
        border-bottom: none;
    }

    .add-series a {
        margin-bottom: 10px;
    }

    .save-setting-bottom {
        padding-bottom: 0;
        margin-bottom: 30px;
        border-bottom: none;
    }

    .preferred-contest a {
        height: 44px;
        line-height: 40px;
    }

    .filter-steps .form-control {
        height: 49px;
        margin-bottom: 20px;
    }

    .filter-steps .step3 button,
    .filter-steps .step4 button {
        height: 45px;
    }

    .afl-graph-left {
        width: 118px;
    }

    .afl-graph-right {
        width: 144px;
    }

    .afl-worst-per {
        width: 73px;
    }

    .afl-silver-per {
        width: 88px;
    }

    .afl-gold-per {
        width: 120px;
    }

    .afl-share-text {
        margin-top: 0;
        margin-bottom: 12px;
    }

    .afl-share-btn.text-right,
    .afl-share-text {
        text-align: center;
    }

    .afl-share-btn a.btn-leaderboard {
        padding: 0 10px;
        font-size: 14px;
        white-space: nowrap;
    }

    .afl-progess-bars-block {
        margin-bottom: 25px;
    }

    .afl-progess-bars {
        margin-bottom: 50px;
    }

    .afl-graph-inner {
        max-width: 290px;
        margin: 0 auto;
    }

    .team-name {
        width: 50%;
    }

    .team-point,
    .team-up-down {
        width: 25%;
    }

    .current-sport-folio.other-team-folio {
        padding: 40px 0;
    }

    .filter-option {
        right: 0;
        width: 240px;
        top: -20px;
        padding: 20px;
    }

    .afl-progess-bars-block h3 {
        margin-bottom: 10px;
    }

    /*Kalpesh Start*/
    .league-data{
        font-size: 14px;
    }
    .league-label{
        font-size: 14px;
    }
    .line-bar {
        margin: 14px 0 18px;
    }
    .timeline-link a{
        margin-bottom: 15px;
    }
    .transection-inner .time-text,.transection-inner .time-sec{text-align: center;}
    li.trad-width-one {width: 53.041%;}
    li.trad-width-two {width: 23.525%;}
    li.trad-width-three {width: 23.434%;}
    .trad-plus-green {font-size: 22px;}
    .trad-minus-red{font-size: 22px;}
    .up-down-title img {margin-right: 0px;}
    .up-down-title span {font-size: 20px;}
    span.t-data {font-size: 20px;}
    span.t-label{font-size: 12px;}
    .trade-minus img {right: 10px;bottom: 11px;}
    .trade-plus img{right: 10px;bottom: 11px;}
    .main-share-btn {float: none;display: inline-block;width: 100%;margin: 20px 0 0px;}
    .table-space-inner table tr td {padding: 5px 5px;}
    .table-space-inner table tr td{font-size: 14px;}
    .table-space-inner table tr td.td-afl-growth{font-size: 16px;}
    .afl-weekly-table-inner table tr td{font-size: 14px;}
    .afl-weekly-table-inner table tr td.td-afl-growth span{font-size: 16px;}
    .timeline-btn .col-sm-4.col-xs-4 {padding: 0 8px;}

    .imgselectbox{margin-bottom: 15px;}
    /*kalpesh End*/

}

@media all and (max-width:730px) {
    /*Kalpesh Start*/
    .transaction-confirmation-popup .modal-dialog {
        width: auto;
    }
    /*Kalpesh End*/
}
@media all and (max-width:540px) {}

@media all and (max-width:429px) {
    /*Kalpesh Start*/
    /*body {padding-bottom: 245px;}*/
    /*Kalpesh End*/
}


@media all and (max-width:389px) {

    .afl-price-text {
        margin-top: 0;
    }

    .afl-price-amt {
        margin-top: 9px;
    }

    /*Kalpesh Start*/
    .sportfoliobox table thead tr th:first-child, .sportfoliobox table tbody tr td:first-child{
        font-size: 14px;
    }
    .trad-table-head li {
        font-size: 12px;
    }
    .trad-plus-green {font-size: 16px;}
    .trad-minus-red{font-size: 16px;}
    .trad-width-three img {right: 5px;width: 8px;}
    li.trad-width-one{padding: 0 5px;}
    .city-title{padding: 20px 15px;}
    .transaction-confirmation-popup .modal-header{padding: 20px 15px;}
    .data-odd-row, .data-even-row{padding: 20px 15px;font-size: 14px;}
    /*Kalpesh End*/

}

@media all and (max-width:1199px) and (min-width: 992px) {

    .sporting-partner-img a {
        margin: 0 40px;
    }

    .hp-banner-text h1,
    .how-to-play-inner > h2,
    .clubs-across h2,
    .week-growing h2 {
        font-size: 58px;
    }

}

@media all and (max-width:1199px) and (min-width: 768px) {

    .hp-banner-text {
        max-width: 100%;
        width: 100%;
        left: 0;
        right: 0;
    }

    .accordion-discount a {
        min-width: 85px;
    }

    a#back-to-top {
        bottom: 50px;
        right: 50px;
    }

    .team-up-down img {
        margin-top: 12px;
    }
}

@media all and (max-width:991px) and (min-width: 768px) {

    .login-title h1 {
        font-size: 24px;
        padding-top: 3px;
    }

    .main-menu ul li {
        margin-right: 15px;
    }

    .save-setting {
        min-height: 734px;
    }

    .main-menu ul li a {
        font-size: 16px;
    }

    .main-menu {
        float: right;
        padding-top: 5px;
    }

    .footer-links ul li a {
        font-size: 12px;
    }

    .footer-links ul li {
        padding: 0 5px 0 3px;
        line-height: 10px;
    }

    .footer-social a {
        font-size: 15px;
        margin-left: 11px;
    }

    .footer-links {
        padding-top: 0;
    }

    .footer-wrapper {
        padding: 35px 0;
    }

    .header-bottom h2 {
        font-size: 36px;
    }

    .header-wrapper.after-login-header .main-menu {
        width: 320px;
    }

    .join-process-block {
        margin: 15px 0;
    }

    .myaccount-text {
        margin-bottom: 30px;
    }

    .join-process {
        margin-bottom: 15px;
    }

    .how-to-play-video2 {
        margin-left: -10px;
        margin-right: -10px;
    }

    .hp-banner-text h1 {
        font-size: 48px;
        margin-bottom: 30px;
    }

    .how-to-play-inner > h2,
    .week-growing h2 {
        font-size: 48px;
    }

    .how-to-play-section {
        padding: 60px 0;
    }

    .how-to-play-video {
        margin-bottom: 50px;
    }

    .clubs-across h2 {
        font-size: 44px;
    }

    .week-growing-top a {
        font-size: 12px;
        min-width: 132px;
        padding: 0 4px;
        margin-right: 4px;
    }

    .week-growing-left table tr td {
        font-size: 14px !important;
    }

    .week-growing-map p {
        display: none;
    }

    .sporting-partner h2 {
        font-size: 48px;
        margin-bottom: 50px;
    }

    .sporting-partner-img a {
        margin: 0 20px;
    }

    .hp-banner {
        height: 640px;
        background: #35424a url('../images/hp-banner-img-tab.jpg') no-repeat;
        background-size: cover;
    }

    .accordion-section {
        margin-bottom: 20px;
    }

    .afl-graph-inner {
        max-width: 555px;
        margin: 0 auto;
    }

    .afl-progess-bars-block {
        margin-bottom: 27px;
    }

    .afl-progess-bars {
        margin-bottom: 40px;
    }

    .afl-graph h2 {
        text-align: center;
    }

    .filter-steps .form-control {
        height: 49px;
        margin-bottom: 20px;
    }

    .filter-steps .step3 button,
    .filter-steps .step4 button {
        height: 45px;
    }

}
