.page-header.navbar {
    border-bottom: none;
    .top-menu{
        display: block;
        padding: 8px 15px;
    }
    .menu-toggler{
        margin: 20px 15px !important;
        height: auto !important;
        width: auto !important;
        .bar{
            width: 24px;
            height: 3px;
            margin: 5px;
            background: #888888;
            display: block;
        }
    }
}
@media screen and (min-width: 768px){
    .page-header{
        display: none;
    }
    .page-header-fixed .page-container{
        margin: 0;
        padding: 0;
    }
}