<ion-view view-title='<img class="title-image" src="./img/LH-logo-full.png"/>' class="blue-bgr" hide-nav-bar="false" ng-controller="AddPrescriptionCompleteCtrl as vm">
  <ion-content class="has-header">
    <div class="customize-content-box">
      <div class="success-icon text-center">
        <img src="./img/group-2.png" alt="" width="120">
      </div>
      <div class="lg-text">
        You are all set!
      </div>
      <div class="sm-text">
        Please confirm your email address and phone number to complete registration
      </div>
      <form name="prescriptionCompleteForm">
        <div class="list list-input">
          <label class=" item-input item-underline">
            <i class="icon ion-ios-telephone placeholder-icon" ></i>
            <input type="text" placeholder="PHONE" ng-model="vm.phone" required>
          </label>
          <label class=" item-input item-underline">
            <i class="icon ion-android-mail placeholder-icon"></i>
            <input type="text" placeholder="EMAIL" ng-model="vm.email">
          </label>
          <label class=" item-input item-underline">
            <i class="icon ion-locked"></i>
            <input type="password" placeholder="PASSWORD" ng-model="vm.password" required>
          </label>
        </div>
        <a type="" class="button button-block button-positive" ng-disabled="prescriptionCompleteForm.$invalid" ng-click="vm.uploadMedication()">Submit</a>
      </form>
    </div>
  </ion-content>
</ion-view>
