<ion-view view-title='<img class="title-image" src="./img/LH-logo-full.png"/>' class="blue-bgr" hide-nav-bar="false" ng-controller="InsuranceCtrl as vm">
  <ion-content class="has-header">
    <div class="process-bar">
      <div class="active"></div>
      <div class="active"></div>
      <div class="active"></div>
    </div>
    <div class="customize-content-box">
      <div class="lg-text">
        Great! Now we need <br>your insurance.
      </div>
      <div class="mg-bottom-50">
        <a type="" class="button button-block button-positive" ng-click="vm.takePhoto()" >Take a picture of your card</a>
      </div>
      <p>Or input your information</p>
      <form action="">
        <div class="list list-input">
          <label class="item-input item-underline">
            <input type="text" placeholder="INSURANCE NUMBER" ng-model="vm.insurance_number">
          </label>
          <label class="item-input item-underline">
            <input type="text" placeholder="BIN NUMBER" ng-model="vm.bin">
          </label>
          <label class="item-input item-underline">
            <input type="text" placeholder="PCN" ng-model="vm.pcn">
          </label>
        </div>
        <a type="" class="button button-block button-positive" ng-click="vm.submitInsurance()">Submit</a>
        <div class="bottom-fixed">
          <div class="simple-text text-center">
            <a class="text-positive text-underline" ui-sref="core.NoAccPayment">I don't have insurance</a>
          </div>
        </div>
      </form>
    </div>
  </ion-content>
</ion-view>
